body {
    /*background: rgb(188, 214, 238);*/
    background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
}

h1 {
    height: 200px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(220, 227, 233) 4px 2px, rgb(220, 227, 233), rgb(220, 227, 233) 4px 2px, rgb(220, 227, 233);
    /*background-color: rgb(188, 214, 238);*/
    background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
    text-align: center;
    font-size: 150px;
    font-weight: 900;
    font-family: fantasy cursive;
    font-style: normal;
    width: 99%;
    border: 10px white solid;
    border-radius: 10px;
}

div {
    margin: auto;
}
#list {
 display: flex;
    border: 5px;
    margin: 20px solid;
    padding: 5px;
    background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}
#list li {
    cursor: pointer;
    border: 5px white solid;
    border-radius: 5px;
    justify-content: center;
    width: 15%;
    margin-bottom: 20px;
    background: rgb(214, 226, 238);
    text-align: center;
}

#list li :hover {
        display: block;
        transition: 0.1s;
}
ul {
    list-style-type: none;
}
#description {
    background-color: rgb(255, 255, 255);
}

#description .show {
    background-color: rgb(218, 108, 108);
    font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

footer{
    text-align: center;
    color: white;
}