body {
  /*background: rgb(188, 214, 238);*/
  background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
  justify-content: space-around;
}

h1 {
  text-align: center;
  text-align: center;
  margin: 1em 7em;
  font-family: "fantasy cursive";
  font-size: 5em;
  padding: 20px;
  border: 1px rgb(188, 214, 238) solid;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
}

.container {
  text-align: center;
  background-color: white;
  text-align: center;
  margin: 4em;
  padding: 10px;
  border: 1px rgb(188, 214, 238) solid;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

#list {
  background-color: linear-gradient(rgb(188, 214, 238), rgb(84, 145, 202));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 4em;
  padding: 10px;
  border: 1px rgb(188, 214, 238) solid;
  border-radius: 15px;
  box-shadow: -2px 2px 123px -70px;
}

#list li {
  cursor: pointer;
  border: 3px white solid;
  border-radius: 5px;
  width: 8em;
  gap: 20px;
  margin: 15px 15px;
  background: rgb(214, 226, 238);
  text-align: center;
}

#list li :hover {
  display: block;
  transition: 0.1s;
}
ul {
  list-style-type: none;
}
#description {
  background-color: rgb(255, 255, 255);
}

#description .show {
  background-color: rgb(218, 108, 108);
  font-size: 18px;
}
dl {
  text-align: left;
}
dd {
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  border: 3px white solid;
  background-color: rgb(214, 226, 238);
  border-radius: 5px;
}
footer {
  text-align: center;
  color: rgb(0, 0, 0);
}
